.btn {
    display: inline-block;
    background: #2563eb;
    padding: 16px 34px;
    border-radius: 12px;
    font-weight: 700;
    transition: .3s;
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: #1d4ed8;
}

.btn-outline {
    background: transparent;
    border: 1px solid #475569;
    padding: 16px 34px;
    border-radius: 12px;
    font-weight: 700;
    transition: .3s;
}

.btn-outline:hover {
    border-color: #2563eb;
    color: #3b82f6;
    background: transparent;
}
